<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.mecharyry" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name=".auth.AuthenticationActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.oauth.OAuthRequesterActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="mecharyry-android" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tweetlist.AndroidDevTweetsActivity"
            android:label="@string/title_activity_list_view" />
        <activity
            android:name=".tweetlist.MyStreamActivity"
            android:label="@string/title_activity_my_stream" >
        </activity>
    </application>

</manifest>
